<%- include('../partials/header') %>
  <table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Condition</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% sneakers.forEach(function(s) { %>
        <tr>
          <td><%= s.title %></td>
          <td><%= s.condition %></td>
          <td class="box"><a href="/sneakers/<%= s._id %>">DETAILS</a></td>
          <td>
            <form action="/sneakers/<%= s.id %>?_method=DELETE"
              class="delete-form" method="POST">
              <button type="submit">X</button>
            </form>
          </td> 
        </tr>
        <% }); %>
      </tbody>
    </table>
<%- include('../partials/footer') %>



