<%- include('../partials/header') %>
  <table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Condition</th>
      </tr>
    </thead>
    <tbody>
      <% sneakers.forEach(function(s) { %>
        <tr>
          <td><%= s.title %></td>
          <td><%= s.condition %></td>
          <td><a href="/sneakers/<%= s._id %>">DETAILS</a></td>
          <td>
            <% if(user && s.owner){ %>
              <% if(user._id.toString()==s.owner.toString()){ %>
            <form action="/sneakers/<%= s.id %>?_method=DELETE"
              class="delete-form" method="POST">
              <button type="submit">X</button>
            </form>
            <% } else { %>
            
            <% }} %>
         
          </td> 
        </tr>
        <% }); %>
      </tbody>
    </table>
<%- include('../partials/footer') %>
