<%- include('../partials/header') %>
    <section id="show-page">
        <div>Title: </div>
        <div><%= sneaker.title %></div>
        <div>Condition: </div>
        <div><%= sneaker.condition %></div>
        <div>Size: </div>
        <div><%= sneaker.size %></div>
        <div>Box: </div>
        <div><%= sneaker.box %></div>
        <div>Issue: </div>
        <div><%= sneaker.issue %></div>
        <div>Price: </div>
        <div><%= sneaker.price %></div>
        <div>Description: </div>
        <div><%= sneaker.description %></div>
      </section>
      
<%- include('../partials/footer') %>